---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import siteConfig from "../site.config";
import coverImage from "../assets/images/the-finash-s496Diayxek-unsplash.jpg";
---

<MainLayout activePage="about" pageTitle={siteConfig.title + " | About"}>
  <div class="page-content">
    <h1 class="sigmar-ff text-balance">{siteConfig.about?.title}</h1>
    <Image
      width={1600}
      height={900}
      loading="eager"
      layout="constrained"
      class="rounded-4xl mb-8 mx-auto"
      src={coverImage}
      alt="Samay Anand Portrait"
    />
    <p class="kanit-light text-left">
      {siteConfig.about?.text}
    </p>
    <p class="kanit-light text-left">
      ℹ️ Disclaimer: This is a demo site for showcasing the Astro theme "Space
      Ahead", created by <a
        href="https://github.com/djsiddz"
        target="_blank"
        rel="noopener noreferrer">Siddhesh Thadeshwar</a
      >. Any resemblance to any living or dead is coincidental, all content of
      this site is generated with the help of AI and Unsplash.
    </p>
  </div>
</MainLayout>
